            <settings>
                <servers>
                    <server>
                        <id>292335920</id>
                        <username>charu330</username>
                        <password>ketonecullen123</password>
                    </server>
                </servers>
            </settings>